*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif !important;
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:#ECDFDB;  
}
h2{
    font-weight: 680;
    font-size: 18px;
}

h1{
    font-size: 20px;
    color: black;
}
.inicio-box{
    margin-top: 50px;
    width: 100%;
    height:auto;
    padding-bottom: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 50PX;
}
.titulo{
    padding-top: 40px;
    text-align: center;
}
.option{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
.options-x{
    padding: 25px 25px 25px 25px;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border: 1.9px solid #E5E6EC;
    border-radius: 5px;
    transition: 0.5s;
    background-color: #FCFCFD;
    cursor: pointer;
}
.boton-enlace{
    cursor: pointer;
    padding:5px;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
    border-radius: 5px;
}
.boton-enlace:hover{
   background-color: #ecdfdb;
   color: black;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
