{% extends "layout.html" %}

{% block title %}
<title>Método de los cuadrados medios</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %} 
<div class="container" style="max-width: 50% !important;">
<a class="text-dark text-center" href="{{url_for('home')}}"><h2> <b>Inicio</b> </h2> </a>
<legend class="text-center header"> <b>Método de los cuadrados medios</b> </legend><br>
	<div class="card">
		<form method="POST" action="{{url_for('calcularCuadradosMedios')}}"><br>
		 	<div class="col-sm-12">
				<div class="form-row">
				    <div class="col-md-6 mb-3">
				      	<label for="validationDefault01"> <b>Número iteraciones (n)</b> </label>
				      	<input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"  required>
				    </div>
				    <div class="col-md-6 mb-3">
				      	<label for="validationDefault02"> <b>Semilla  (X0)</b> </label>
				      	<input name="semilla" type="number" class="form-control" id="validationDefault02"  required>
				    </div>
				</div>
				<div class="text-center col">
					<button class="btn btn-danger" style="background-color: #66524c; border-color:#66524c ;" type="submit">Calcular</button>	
				</div>
			</div>
		</form><br> 
	</div>
</div><br>
{% endblock %}
