{% extends "layout.html" %}

{% block title %}
<title>Modelamiento y Simulación</title>
{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Poppins:400,800,900" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Modelamiento y Simulación</title>
</head>
<body>
    <section>
        <div class="inicio-box">
            <div class="box-2">
                <h1 class="titulo">MODELAMIENTO Y SIMULACIÓN <br>
                NOMBRE: <br> Adriana Gilces Peñafiel <br>
                SEXTO "A"</h1>
                <div class="option">
                    <article   class="options-x"  id="1">
                        <a href="{{url_for('mediamm')}}">
                            <h2>Módulo Estadístico</h2>
                            <p>Moda, Media y Mediana <br> Desviación estándar<br>
                            Mínimos y Máximos <br> Cuartiles</p>
                        </a>
                    </article>
                    <article class="options-x" id="2">
                        <article>
                            <h2>Módulo de Números Aleatorios</h2>
                            <a class="boton-enlace" href="{{url_for('cuadradosMedios')}}">Cuadrados Medios</a> 
                            <a class="boton-enlace" href="{{url_for('congruencialLineal')}}">Congruencial Lineal</a>
                            <a class="boton-enlace" href="{{url_for('congruencialMultiplicativo')}}">Congruencial Multiplicativo</a>
                        </article>
                    </article>
                    <article class="options-x" id="3">
                        <article>
                            <h2>Módulo de Prónosticos</h2>
                            <a class="boton-enlace" href="{{url_for('promedioMovil')}}">Promedio Móvil</a> 
                            <a class="boton-enlace" href="{{url_for('suavizacionExponencial')}}">Suavización exponencial</a>
                            <a class="boton-enlace" href="{{url_for('regresionLineal')}}">Regresión lineal</a>
                            <a class="boton-enlace" href="{{url_for('regresionLinealCuadrada')}}">Regresión Cuadrática</a>
                        </article>
                    </article>
                    <article class="options-x" id="4">
                        <article>
                            <h2>Módulo de Simulación</h2>
                            <a class="boton-enlace" href="{{url_for('lineaEspera')}}">Línea de espera</a> 
                            <a class="boton-enlace" href="{{url_for('montecarlo')}}">Montecarlo</a>
                            <a class="boton-enlace" href="{{url_for('sistemaInventario')}}">Sistema de inventario</a>
                        </article>
                    </article>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

{% endblock %}
