{% extends "layout.html" %}

{% block title %}
<title>Método congruencial lineal</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}
  
{% block content %}
<a class="text-dark text-center" href="{{url_for('home')}}"><h2> <b>Inicio</b> </h2> </a>
<legend class="text-center header"> <b>Método congruencial lineal</b> </legend><br>
<div class="container" style="max-width: 50% !important;">
    <div class="card">
        <form method="POST" action="{{url_for('calcularCongruencialLineal')}}"><br>
            <div class="container">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Número iteraciones</b> </label>
                        <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02"> <b>Semilla</b> </label>
                        <input name="semilla" type="number" class="form-control" id="validationDefault02"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Multiplicador</b> </label>
                        <input name="multiplicador" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02"> <b>Incremento</b> </label>
                        <input name="incremento" type="number" class="form-control" id="validationDefault02"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Módulo</b> </label>
                        <input name="modulo" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                </div>
				<div class="text-center col">
					<button class="btn btn-danger" style="background-color: #66524c; border-color:#66524c ;" type="submit">Calcular</button>	
				</div>
            </div>
        </form><br> 
    </div>
</div><br>

<div class="container">
    <legend class="text-left header"> <b>Gráfica</b> </legend>
    <div class="card">
        <center><img src="data:image/png;base64,{{ image }}"></center>
    </div>
</div><br>

<div class="container">
<legend class="text-left header"> <b>Tabla de resultados</b> </legend>
    <a class="btn btn-success" href="{{url_for('static', filename='file/data.xlsx')}}" role="button">Exportar a Excel</a>
    <a class="btn btn-warning" href="{{url_for('static', filename='file/data.csv')}}" role="button">Exportar a csv</a>
</div><br>

<div class="container">
    {{data|safe}}
</div>
{% endblock %}