{% extends "layout.html" %}

{% block title %}
<title>Montecarlo</title>
{% endblock %}
    
{% block content %} 
<a class="text-dark text-center" href="{{url_for('home')}}"><h2> <b>Inicio</b> </h2> </a>
<legend class="text-center header"> <b>Montecarlo</b> </legend><br>    
<div class="container">
    <div class="card">
        <form enctype="multipart/form-data" method="POST" action="{{url_for('calcularMontecarlo')}}"><br>
            <div class="col-sm-12">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleFormControlFile1">Entrada del archivo (.xlsx)</label>
                        <input name="file" type="file" class="form-control-file form-data" id="exampleFormControlFile1" required>
                    </div>                  
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b> Número iteraciones (n)</b> </label>
                        <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02"> <b>Semilla (X0)</b> </label>
                        <input name="semilla" type="number" class="form-control" id="validationDefault02"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b> Multiplicador (a) </b></label>
                        <input name="multiplicador" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02"> <b>  Incremento (c)</b></label>
                        <input name="incremento" type="number" class="form-control" id="validationDefault02"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Módulo (m) </b> </label>
                        <input name="modulo" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                </div> 
				<div class="text-center col">
					<button class="btn btn-danger" style="background-color: #66524c; border-color:#66524c ;" type="submit">Calcular</button>	
				</div>
            </div>
        </form><br> 
    </div>
</div><br>

<div class="container">
    <legend class="text-left header"> <b> Gráfica</b> </legend>
    <div class="card">
        <center><img src="data:image/png;base64,{{ image }}"></center>
    </div>
</div><br>

<div class="container">
    <legend class="text-left header"> <b>Tabla de resultados</b> </legend>
    {{data|safe}}
</div>

<div class="container">
    <legend class="text-left header"> <b>Tabla de resultados </b> </legend>
    <a class="btn btn-success" href="{{url_for('static', filename='file/data.xlsx')}}" role="button">Exportar a Excel</a>
    <a class="btn btn-warning" href="{{url_for('static', filename='file/data.csv')}}" role="button">Exportar a csv</a>
</div><br>

<div class="container">
    {{data2|safe}}
</div>
{% endblock %}