{% extends "layout.html" %}

{% block title %}
<title>Media, Mediana y Moda</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}
  
{% block content %}
<div class="container" style="max-width: 50% !important;">
<a class="text-dark text-center" href="{{url_for('home')}}"><h2> <b>Inicio</b> </h2> </a>
<legend class="text-center header"> <b>Media, Mediana y Moda</b> </legend>
<div class="card">
    <form enctype="multipart/form-data" method="POST" action="{{url_for('calcularMediaModaMediana')}}"><br>
     <div class="col-sm-12">
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="exampleFormControlFile1">Subir archivo para calcular (.xlsx)</label>
                    <input name="file" type="file" class="form-control-file form-data" id="exampleFormControlFile1" required>
                    <small id="passwordHelpBlock" class="form-text text-muted">
                    </small>
                </div>              
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationDefault01"> <b>Nombre del Campo a Analizar</b> </label>
                    <input name="nombreColumna" type="text" class="form-control" id="validationDefault01"  required>
                </div>
                
            </div>    
            <div class="text-center col">
                <button class="btn btn-danger" style="background-color: #66524c; border-color:#66524c ;" type="submit">Calcular</button>	
            </div>
        </div>
    </form><br> 
</div>
</div><br>

<div class="container">
    <legend class="text-left header"> <b>Gráfica</b> </legend>
    <div class="card">
        <center><img src="data:image/png;base64,{{ image }}"></center>
    </div>
</div><br>

<div class="container">
<legend class="text-left header"> <b>Tabla de resultados</b> </legend>
    <a class="btn btn-success" href="{{url_for('static', filename='file/data.xlsx')}}" role="button">Exportar a Excel</a>
    <a class="btn btn-warning" href="{{url_for('static', filename='file/data.csv')}}" role="button">Exportar a csv</a>
</div><br>

<div class="container">
    {{data|safe}}
</div>

<div class="container">
    {{data2|safe}}
</div>
{% endblock %}