{% extends "layout.html" %}

{% block title %}
<title>Sistema de inventario</title>
{% endblock %}
								
{% block content %} 
<a class="text-dark text-center" href="{{url_for('home')}}"><h2> <b>Inicio</b> </h2> </a>
<legend class="text-center header"> <b>Sistema de inventario</b> </legend><br>
<div class="container">
	<div class="card">
		<form method="POST" action="{{url_for('calcularSistemaInventario')}}"><br>
			<div class="container">
				<div class="form-row">
					<div class="col-md-6 mb-3">
					  	<label for="validationDefault01"> <b>Demanda</b> </label>
					  	<input name="demanda" type="number" step="any" class="form-control" id="validationDefault01"  required>
					</div>
					<div class="col-md-6 mb-3">
					 	<label for="validationDefault02"> <b>Costo de ordenar</b> </label>
					  	<input name="costoOrdenar" type="number" step="any" class="form-control" id="validationDefault02"  required>
					</div>
					<div class="col-md-6 mb-3">
					  	<label for="validationDefault01"> <b>Costo de mantenimiento</b> </label>
					 	<input name="costoMantenimiento" type="number" step="any" class="form-control" id="validationDefault01"  required>
					</div>
					<div class="col-md-6 mb-3">
					  	<label for="validationDefault02"> <b>Costo del producto</b> </label>
					  	<input name="costoProducto" type="number" step="any" class="form-control" id="validationDefault02"  required>
					</div>
					<div class="col-md-6 mb-3">
					 	<label for="validationDefault01"> <b>Tiempo de espera</b> </label>
					  	<input name="tiempoEspera" type="number" step="any" class="form-control" id="validationDefault01"  required>
					</div>
					<div class="col-md-6 mb-3">
					  	<label for="validationDefault01"> <b>Dias/Año</b> </label>
					  	<input name="diasAno" type="number" class="form-control" id="validationDefault01"  required>
					</div>
					<div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Número iteraciones</b> </label>
                        <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
				</div>
				<div class="text-center col">
					<button class="btn btn-danger" style="background-color: #66524c; border-color:#66524c ;" type="submit">Calcular</button>	
				</div>
				</div>
		</form><br> 
	</div>
</div><br>

<div class="container">
	<legend class="text-left header"> <b>Gráfica</b> </legend>
	<div class="card">
		<center><img src="data:image/png;base64,{{ image }}"></center>
	</div>
</div><br>

<div class="container">
  	<legend class="text-left header"> <b>Tabla de resultados</b> </legend>
	{{data|safe}}
</div>

<div class="container">
  	<legend class="text-left header"> <b>Tabla de resultados</b> </legend>
	{{data2|safe}}
</div>

<div class="container">
	<legend class="text-left header"> <b>Tabla de resultados</b> </legend>
	<a class="btn btn-success" href="{{url_for('static', filename='file/data.xlsx')}}" role="button">Exportar a Excel</a>
	<a class="btn btn-warning" href="{{url_for('static', filename='file/data.csv')}}" role="button">Exportar a csv</a>
</div><br>

<div class="container">
	{{data3|safe}}
</div>
{% endblock %}