{% extends "layout.html" %}

{% block title %}
<title>Regresión lineal</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %} 
<div class="container" style="max-width: 60% !important;">
<a class="text-dark text-center" href="{{url_for('home')}}"><h2> <b>Inicio</b> </h2> </a>
	<legend class="text-center header"> <b>Regresión lineal</b> </legend><br>
	<div class="card">
		<form enctype="multipart/form-data" method="POST" action="{{url_for('calcularRegresionLineal')}}"><br>
		 	<div class="col-sm-12">
				<div class="form-row">
				    <div class="col-md-6 mb-3">
				      	<label for="exampleFormControlFile1">Entrada del archivo (.xlsx)</label>
    					<input name="file" type="file" class="form-control-file form-data" id="exampleFormControlFile1" required>
				    </div>				    
				</div>
				<div class="text-center col">
					<button class="btn btn-danger" style="background-color: #66524c; border-color:#66524c ;" type="submit">Calcular</button>	
				</div>
				</div>
		</form><br> 
	</div>
</div><br>
{% endblock %}