{% extends "layout.html" %}

{% block title %}
<title>Sistema de inventario</title>
{% endblock %}

{% block content %} 

<div class="container">
<a class="text-dark text-center" href="{{url_for('home')}}"><h2> <b>Inicio</b> </h2> </a>
<legend class="text-center header"> <b>Sistema de inventario</b> </legend><br>
    <div class="card">
        <form method="POST" action="{{url_for('calcularSistemaInventario')}}"><br>
            <div class="container">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Demanda (D)</b> </label>
                        <input name="demanda" type="number" step="any" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02"> <b>Costo de ordenar (Co)</b> </label>
                        <input name="costoOrdenar" type="number" step="any" class="form-control" id="validationDefault02"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Costo de mantenimiento</b>  (Ch)</label>
                        <input name="costoMantenimiento" type="number" step="any" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault02"> <b>Costo del producto (P)</b> </label>
                        <input name="costoProducto" type="number" step="any" class="form-control" id="validationDefault02"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Tiempo de espera (T)</b> </label>
                        <input name="tiempoEspera" type="number" step="any" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Dias/Año</b> </label>
                        <input name="diasAno" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01"> <b>Número iteraciones (n)</b> </label>
                        <input name="numeroIteraciones" type="number" class="form-control" id="validationDefault01"  required>
                    </div>
                </div>
				<div class="text-center col">
					<button class="btn btn-danger" style="background-color: #66524c; border-color:#66524c ;" type="submit">Calcular</button>	
				</div>
                </div>
        </form><br> 
    </div>
</div><br>
{% endblock %}